################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectRockPaperScissor/FileContentIndex/cb331706-25c8-46b8-a6a8-fc8becb3b87d.vsidx
/.vs/ProjectRockPaperScissor/FileContentIndex/daec7569-d898-41f7-9c8a-a9eeae0a6d6d.vsidx
